h1{
  /* margin-bottom: 40px; */
  /* padding-bottom: 5px; */
  color: #666;
  font-family: Palatino Linotype;
}

article{
  font-size: 18px;
}

img{
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.panel{
  margin-top: 20px;
}

.panel-body{
  padding: 2% 8% 4%;
}

.page-header{
  border-bottom: 2px solid lightgray;
}

.page-block{
  border: 1px solid lightgray;
  border-radius: 5px;
}
